*{
    margin: 0%;
    padding: 0%;
}

#bgVideo{
    position: fixed;
    z-index: -1;
    object-fit: cover;
    right: 0%;
    left: 0%;
    min-width:100%;;
    min-height: 100%;
    width: auto;
    height: auto;
}

.content{
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
}
