*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    font-family:Arial, Helvetica,sans-serif;
}

#bgVideo{
    position: fixed;
    z-index: -1;
    object-fit: cover;
    right: 0%;
    left: 0%;
    min-width:100%;
    min-height: 100%;
    filter:brightness(55%);
    width: auto;
    height: auto;
}

.content{
    color: white;
    width:80%;
    margin:auto;
    margin-top:40px;
}

.About h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.About img {
    display: block;
    margin: 20px auto;
    border-radius: 100px;
    box-shadow:    
    /* neon glow effect */
    0 0 10px rgba(0, 255, 255, 0.978),
    0 0 25px rgba(0, 47, 255, 0.657),
    0 0 50px rgba(221, 255, 0, 0.2);
}


/* Section Boxes */
.Detail, .Gallery, .About {
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.45);
    padding: 25px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
}

/* Headings */
.Detail h2, .Gallery h2, .About h2 {
    margin-bottom: 12px;
    font-size: 28px;
    border-left: 4px solid rgb(0, 174, 255);
    padding-left: 10px;
}

/* Lists */
.Detail ul, .Gallery ul {
    margin-left: 50px;
}

.Detail ul li {
    margin-bottom: 8px;
    font-size: 17px;
}

/* Text */
.About p, .Detail p {
    line-height: 1.6;
    font-size: 17px;
}

/* Gallery */
.Gallery img {
    margin: 10px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    transition: 0.9s;
}

.Gallery img:hover {
    transform: scale(2);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
    margin-bottom: 70px;
}

/* Links */
a {
    color: #57e3ff;
    text-decoration:wavy;
}

a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .content {
        width: 95%;
    }

    .About img {
        width: 40%;
    }

    .Gallery img {
        width: 30%;
        height: auto;
    }
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
}

nav ul li a {
  display: inline-block;
  color: rgb(0, 213, 255);
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: white;
  transform: scale(1.1);
}

body {
  padding-top: 70px;
}

section {
  scroll-margin-top: 80px;
}
